@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

:root{
    --cor-fundo:#444444;
    --cor-titulo:#5E4242;
    --cor-paragrafo:#916666;
    --cor-link:#919191;
    --cor-container:#DEDEDE;
    --fonte: Oswald;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte);
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    background-color:var(--cor-container);
    
    padding: 15px;
    text-align: center;
}

h1,h2,h3 {
    color: var(--cor-titulo);
    padding-top:80px;
}

p,ul,li{
    color: var(--cor-paragrafo);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    color: var(--cor-link);
}

p{
    font-size:large;
}

.box {
    padding: 20px;
    display: inline-block;
    text-align: center;
}